.venv/
__pycache__/
*.py[cod]

work/*
!work/.gitkeep
output/*
!output/.gitkeep
dist/*
!dist/.gitkeep

*.tar.gz
*.zip
*.7z
*.rar
*:Zone.Identifier

imewlconverter-master/

.DS_Store
.codex
.codex/
.git-askpass.sh
.idea/
.vscode/
